


header {
    background-color: aqua;
    grid-area: he;
}
nav {
    background-color: rgb(149, 202, 202);
    grid-area: na;
}

.sidebar {
    background-color: #e9e981;
    grid-area: si;
}
.content {
    background-color: rgb(123, 187, 187);
    grid-area: co;
}


footer {
    background-color: rgb(137, 156, 156);
    grid-area: fo;
}




body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px;
    grid-template-areas: 
    "he he he"
    "na na na"
    "si co co"
    "fo fo fo";
    
}

@media screen and (max-width: 500px){
    body {
        grid-template-rows: 100px 100px 100px 100px 100px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "he"
        "na"
        "si"
        "co"
        "fo"
        ;

    }
} 