


header {
    background-color: aqua;
    grid-area: he;
}
nav {
    background-color: rgb(149, 202, 202);
    grid-area: na;
}

article {
    background-color: #e9e981;
    grid-area: ar;
}
section {
    background-color: rgb(123, 187, 187);
    grid-area: se;
}


footer {
    background-color: rgb(137, 156, 156);
    grid-area: fo;
}
aside {
    background-color: rgb(137, 156, 156);
    grid-area: as;
}




body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 125px 125px 100px 100px 100px;
    gap: 25px;
    grid-template-areas: 
    "he he he"
    "ar ar as"
    "ar ar as"
    "fo fo fo";
    
}

@media screen and (max-width: 500px){
    body {
        grid-template-rows: 150px 250px 100px 100px 100px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "he"
        "ar"
        "as"
        "fo"
        ;

    }
} 